{% extends "_layouts/base" %}

{% set pageTitle = "Реакции" %}

{% block content %}

    {% set entries = craft.entries()
        .section('reactions')
        .orderBy('postDate DESC')
        .all()
    %}

    {% if entries %}
        <div class="row">
            {% for entry in entries %}
                <div class="col-6 col-md-3 mb-3">
                    {% include "_components/movie-card.twig" with { entry: entry } %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="empty">
            <div class="empty-header">0</div>
            <p class="empty-title">Пока ничего нет</p>
            <p class="empty-subtitle text-secondary">
                В разделе «Реакции» пока нет записей.
            </p>
        </div>
    {% endif %}

{% endblock %}